body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: #000;
}

.content {
  position: relative;
}

.content h2 {
  position: absolute;
  color: #fff;
  transform: translate(-50%);
  font-size: 8em;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 3s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 38%, 14% 42%, 31% 53%, 47% 60%, 67% 59%, 79% 49%, 93% 37%, 100% 36%, 100% 99%, 0% 99%);
  }

  50% {
    clip-path: polygon(0 56%, 15% 62%, 31% 61%, 48% 49%, 63% 43%, 78% 44%, 89% 53%, 100% 63%, 100% 99%, 0% 99%);
  }
}